#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<table>
  ## All input elements for this custom field should have a name of
  ## $customField.id but each id should be unique

  #set ($field_uid = $customField.id)

  <tr width="15%">
    <td>
      Amount
    </td>
    <td>
      Note
    </td>
  </tr>

#if ($value)
  #if ($issue.getKey())
    ## issue exists and has a key so the value is a transport of string values, 
    ## not a transport object of the singular objects. We want more than just 
    ## strings so access the transport object directly from the customfield

    #set ($carriers = $customField.getValue($issue))
  #else
    ## When this template is used to edit a default value then
    ## issue is a dummy with no key. Access the transport object via
    ## the configs variable.

    #set ($carriers = $configs.get("default"))
  #end

  #foreach ($carrier in $carriers) 
    <tr width="15%">
      <td>
        <input id="${field_uid}-amount-${velocityCount}" 
               name="${field_uid}" 
               type="text" 
               value="$carrier.getAmount()" />
      </td>

      <td>
        <input id="${field_uid}-note-${velocityCount}" 
               name="${field_uid}" 
               type="text" 
               value="$textutils.htmlEncode($carrier.getNote())" />
      </td>
    </tr>
  #end

#end

    <tr width="15%">
      <td>
        <input id="${field_uid}-amount-new" 
               name="${field_uid}" 
               type="text" 
               value="" />
      </td>

      <td>
        <input id="${field_uid}-note-new" 
               name="${field_uid}" 
               type="text" 
               value="" />
        &nbsp;Add a new value. Clearing an amount deletes a row.
      </td>
    </tr>
</table>
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
